<!doctype html>
<html lang="pt-bt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if title %} FastAPI Blog - {{ title }} {% else %} FastAPI Blog {% endif
      %}
    </title>
    <meta
      name="description"
      content="Website para Corais da Professora Gisella Olsson Schlagenhaufer"
    />
    <meta name="author" content="Nikolas Arnfried Olsson Schlagenhaufer" />
    <meta property="og:title" content="Website Corais" />
    <meta property="og:type" content="website" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/output.css') }}"
    />
  </head>
  <body>
    <nav>
      <a href="{{ url_for('home') }}">Website Gisella</a>
    </nav>
    {% block content %} {% endblock content %}
  </body>
</html>
