{% extends "layout.html" %} {% block content %}
<h1>Postagens de {{ user.username }}</h1>
{% for post in posts %}
<article>
  <div>
    <a href="{{ url_for('user_post', user_id=post.author.id) }}"
      >{{ post.author.username }}</a
    >
    <h2>
      <a href="{{ url_for('post', post_id=post.id)}}">{{ post.title }}</a>
    </h2>
    <p>{{ post.content }}</p>
    <small>{{ post.date_posted.date() }}</small>
  </div>
  <div></div>
</article>
{% else %}
<p>Nenhuma postagem desse usuário ainda.</p>
{% endfor %} {% endblock content %}
